body{
    text-align: center;
    background-color:lightgreen;
    
}
#h1 {
    font-size: 50px;
}
div {
    margin-top: 15px;
}
.imagesection {
    display: flex;
    justify-content: center;
}
.stylesection {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}